.grid-container{
border: solid navy 4px;
height: 510px;
width: 450px;
display: grid;
grid-template-columns: auto auto;
grid-template-rows: auto auto;
background-color: white;

}
.grid-container > div {
     width: 100px;
     height: 100px;
}

#slate{
    border: solid navy 4px;
justify-self: center;
grid-column: 1/span 2;
width: 200px;
height: 100px;
}